Workflow/Book Automation.json
{
  "name": "Book Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cbc7489b-1f8a-464d-a763-806ca7656160",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://scraper:8000/scrape",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://en.wikisource.org/wiki/The_Gates_of_Morning/Book_1/Chapter_1 "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "d6d6f949-724b-4e59-a539-e4d63978ebd5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional editor.\n\nThe following text contains a story chapter, starting with the title followed by the actual content.\n\nYour Tasks:\n1. Automatically detect and extract the title. The title is always the first line of the input.\n\n2. Rewrite the rest of the content in clear, polished, and grammatically correct English, improving flow and readability without altering the characters, events, or meaning.\n\n3. Limit the rewritten story to fewer than 1900 characters (including spaces) to meet storage limits in Notion.\n\n4. Keep the tone and atmosphere of the original story consistent, while making it suitable for professional publication.\n\n5. Return the result in this exact format (no extra comments or symbols):\n\nTitle: [detected title]\nRewritten Story: [rewritten content under 1900 characters]\n\n{{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "71ed6495-0c1e-4b9c-ad78-839ad31f70b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "maxOutputTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        240
      ],
      "id": "ce3e467f-7cf9-49ed-bc9a-af27195dd74b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a4sN6NhMdO1LBEgz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.content }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        260
      ],
      "id": "4b1b6057-3f9d-4108-9722-c3efb694715a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/BOOK-217e77ce902180979b5fc2592ef117b7",
          "mode": "url"
        },
        "title": "CHAPTER ONE",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "2e2940ba-ffbd-4a3d-8ea9-0cfb6d3713de",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "VKo7ZA1VX8qiEncS",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "mythilisoundhararajan@gmail.com",
        "toEmail": "mythilisrajan09@gmail.com",
        "subject": "Approval required: Rewritten Story for Review",
        "message": "=Hi,\n\nA new story has been rewritten and is ready for your review.\n\nYou can read it at the following Notion page: \n{{ $json.url }}\nPlease approve or reject it below. ",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1020,
        0
      ],
      "id": "64194dc9-451a-4444-abc0-66345acaac4c",
      "name": "Send Email",
      "webhookId": "f9b48ef1-91bf-41c8-ba9e-c3cb963798ad",
      "credentials": {
        "smtp": {
          "id": "4PnXU1TBVrXpSI03",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "93c83ab4-08e7-42ea-be99-d11a73f64f8a",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        280
      ],
      "id": "60592c27-8e75-4a83-8530-731c88c1848a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:8000/add-to-chroma",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $node[\"Notion\"].json[\"name\"] }}"
            },
            {
              "name": "content",
              "value": "{{ $('AI Agent').item.json.output }}"
            },
            {
              "name": "notion_url",
              "value": "{{ $('Notion').item.json.url }}"
            },
            {
              "name": "screenshot_path",
              "value": "={{ $('HTTP Request').item.json.screenshot_path }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        260
      ],
      "id": "d48f80de-7293-4314-8bb2-46744d876492",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "http://scraper:8000/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "sendBody": true,
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        260
      ],
      "id": "e2351497-39ec-4057-a5dc-86534663435d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Bookie. Wanna search? go ahead.",
        "options": {
          "inputPlaceholder": "Chapter 1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        780,
        460
      ],
      "id": "c53d6ac9-3c91-434e-b595-f2b04dcfaaa8",
      "name": "When chat message received",
      "webhookId": "81ff549b-d578-4aef-a060-169c441112af"
    },
    {
      "parameters": {
        "options": {
          "responseKey": "={{ $json.chatInput }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1000,
        460
      ],
      "id": "c4fc6cd9-9233-49ca-a168-3ca94be11578",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e8ba9af-a8ba-4e99-af75-b7283fb407b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf2e5bed6adda5f3ba62c0f0c5e3134873e41d13fc69acaf7a845ce8d20958d2"
  },
  "id": "FjewwWrIieeefvIn",
  "tags": []
}
